In [1]:
import pandas as pd 
import duckdb

In [2]:
DB = "../data/db/duck.db"

In [4]:
conn = duckdb.connect(DB)
sql_string = "SELECT * FROM coffee_exports_intermediate"

data = pd.read_sql_query(sql_string, conn)
data.head()

/tmp/ipykernel_1021/478239627.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql_query(sql_string, conn)

DatabaseError: Execution failed on sql: SELECT * FROM coffee_exports_intermediate
Catalog Error: Table with name coffee_exports_intermediate does not exist!
Did you mean "coffee_exports"?
LINE 1: SELECT * FROM coffee_exports_intermediate
                      ^
unable to rollback